/solutions/*
!/solutions/ivan.komissarov
!/solutions/tengiz.akbaev
!/solutions/sergey.androsov
!/solutions/alexey.borisikhin
!/solutions/konstantin.baryshev
!/solutions/vladimir.belov
!/solutions/konstantin.barinov
!/solutions/alexander.andreevskiy
!/solutions/anastasia.belyaeva
!/solutions/aydar.bulatov
!/solutions/azalia.buryan
!/solutions/andrey.blednykh
!/solutions/mikhail.byvshikh
!/solutions/maria.godgildieva
!/solutions/vladimir.vlasov
!/solutions/alexey.gurov
!/solutions/pavel.golovnyak
!/solutions/dmitry.glushakov
!/solutions/tatiana.dvoryaninova
!/solutions/nazim.dzhavadov
!/solutions/dmitry.varyukhin
!/solutions/ksenia.gubina
!/solutions/ochir.dorzhiev
!/solutions/alexandra.zaytseva
!/solutions/dmitry.zverkov
!/solutions/abdurakhim.ganiev
!/solutions/alexander.klyasov
!/solutions/andrey.karavaev
!/solutions/mikhail.mamaev
!/solutions/elena.kutemova
!/solutions/alexey.kalaburdin
!/solutions/ilya.karpenko
!/solutions/ekaterina.medvedeva
!/solutions/roman.matiiv
!/solutions/timur.moskov
!/solutions/ksenia.kutsevol
!/solutions/grigory.mysov
!/solutions/ramil.mamedov
!/solutions/denis.noritsin
!/solutions/evgeniy.osipchuk
!/solutions/ilya.nabatchikov
!/solutions/nikita.mospan
!/solutions/alexey.muratov
!/solutions/konstantin.matveev
!/solutions/svetlana.potapova
!/solutions/nikita.rysin
!/solutions/vladislav.rozhdestvenskiy
!/solutions/denis.sabanov
!/solutions/ivan.pankov
!/solutions/alexander.okhilkov
!/solutions/sergey.polyakhov
!/solutions/evgeniy.samarin
!/solutions/alexander.sedykh
!/solutions/valeria.paramonova
!/solutions/farhad.sabilov
!/solutions/anton.serkov
!/solutions/pavel.treboganov
!/solutions/alexander.smetanin
!/solutions/andrey.smirnov
!/solutions/yulia.semenovykh
!/solutions/maxim.udachin
!/solutions/nikita.sidorov
!/solutions/dmitry.ulogov
!/solutions/sergey.taran
!/solutions/ivan.strazov
!/solutions/andrey.frolov
!/solutions/alexey.chernyaev
!/solutions/vladimir.khrenov
!/solutions/lyudmila.cheldieva
!/solutions/alexey.shaymanov
!/solutions/ekaterina.khabarova
!/solutions/azat.khasanov
!/solutions/denis.shilov
!/solutions/pavel.khlopotin
!/solutions/filipp.isaenko
!/solutions/pavel.skladnev
!/solutions/evgeniy.chervyakov
!/solutions/vitaly.monastyrev
!/solutions/andrey.kachetov
!/solutions/zarina.kamytbaeva
!/solutions/mikhail.novikov
!/solutions/yakov.zakharov
!/solutions/olga.ilyasova
!/solutions/denis.ivashchenko
!/solutions/irina.zhuravleva
!/solutions/tatiana.inkhireeva
!/solutions/ilya.efimov
!/solutions/daria.ivanova
!/solutions/vardan.kazaryan
!/solutions/nikolay.krupiy
!/solutions/alexander.kuznetsov
!/solutions/roman.kovalchuk/
/solutions/*/*
!/solutions/ivan.komissarov/lab?
!/solutions/tengiz.akbaev/lab?
!/solutions/sergey.androsov/lab?
!/solutions/alexey.borisikhin/lab?
!/solutions/konstantin.baryshev/lab?
!/solutions/vladimir.belov/lab?
!/solutions/konstantin.barinov/lab?
!/solutions/alexander.andreevskiy/lab?
!/solutions/anastasia.belyaeva/lab?
!/solutions/aydar.bulatov/lab?
!/solutions/azalia.buryan/lab?
!/solutions/andrey.blednykh/lab?
!/solutions/mikhail.byvshikh/lab?
!/solutions/maria.godgildieva/lab?
!/solutions/vladimir.vlasov/lab?
!/solutions/alexey.gurov/lab?
!/solutions/pavel.golovnyak/lab?
!/solutions/dmitry.glushakov/lab?
!/solutions/tatiana.dvoryaninova/lab?
!/solutions/nazim.dzhavadov/lab?
!/solutions/dmitry.varyukhin/lab?
!/solutions/ksenia.gubina/lab?
!/solutions/ochir.dorzhiev/lab?
!/solutions/alexandra.zaytseva/lab?
!/solutions/dmitry.zverkov/lab?
!/solutions/abdurakhim.ganiev/lab?
!/solutions/alexander.klyasov/lab?
!/solutions/andrey.karavaev/lab?
!/solutions/mikhail.mamaev/lab?
!/solutions/elena.kutemova/lab?
!/solutions/alexey.kalaburdin/lab?
!/solutions/ilya.karpenko/lab?
!/solutions/ekaterina.medvedeva/lab?
!/solutions/roman.matiiv/lab?
!/solutions/timur.moskov/lab?
!/solutions/ksenia.kutsevol/lab?
!/solutions/grigory.mysov/lab?
!/solutions/ramil.mamedov/lab?
!/solutions/denis.noritsin/lab?
!/solutions/evgeniy.osipchuk/lab?
!/solutions/ilya.nabatchikov/lab?
!/solutions/nikita.mospan/lab?
!/solutions/alexey.muratov/lab?
!/solutions/konstantin.matveev/lab?
!/solutions/svetlana.potapova/lab?
!/solutions/nikita.rysin/lab?
!/solutions/vladislav.rozhdestvenskiy/lab?
!/solutions/denis.sabanov/lab?
!/solutions/ivan.pankov/lab?
!/solutions/alexander.okhilkov/lab?
!/solutions/sergey.polyakhov/lab?
!/solutions/evgeniy.samarin/lab?
!/solutions/alexander.sedykh/lab?
!/solutions/valeria.paramonova/lab?
!/solutions/farhad.sabilov/lab?
!/solutions/anton.serkov/lab?
!/solutions/pavel.treboganov/lab?
!/solutions/alexander.smetanin/lab?
!/solutions/andrey.smirnov/lab?
!/solutions/yulia.semenovykh/lab?
!/solutions/maxim.udachin/lab?
!/solutions/nikita.sidorov/lab?
!/solutions/dmitry.ulogov/lab?
!/solutions/sergey.taran/lab?
!/solutions/ivan.strazov/lab?
!/solutions/andrey.frolov/lab?
!/solutions/alexey.chernyaev/lab?
!/solutions/vladimir.khrenov/lab?
!/solutions/lyudmila.cheldieva/lab?
!/solutions/alexey.shaymanov/lab?
!/solutions/ekaterina.khabarova/lab?
!/solutions/azat.khasanov/lab?
!/solutions/denis.shilov/lab?
!/solutions/pavel.khlopotin/lab?
!/solutions/filipp.isaenko/lab?
!/solutions/pavel.skladnev/lab?
!/solutions/evgeniy.chervyakov/lab?
!/solutions/vitaly.monastyrev/lab?
!/solutions/andrey.kachetov/lab?
!/solutions/zarina.kamytbaeva/lab?
!/solutions/mikhail.novikov/lab?
!/solutions/yakov.zakharov/lab?
!/solutions/olga.ilyasova/lab?
!/solutions/denis.ivashchenko/lab?
!/solutions/irina.zhuravleva/lab?
!/solutions/tatiana.inkhireeva/lab?
!/solutions/ilya.efimov/lab?
!/solutions/daria.ivanova/lab?
!/solutions/vardan.kazaryan/lab?
!/solutions/nikolay.krupiy/lab?
!/solutions/alexander.kuznetsov/lab?
!/solutions/roman.kovalchuk/lab?/
/solutions/*/*/*
!/solutions/ivan.komissarov/lab?/*[.IPBYNB,.ipynb]
!/solutions/tengiz.akbaev/lab?/*[.IPBYNB,.ipynb]
!/solutions/sergey.androsov/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexey.borisikhin/lab?/*[.IPBYNB,.ipynb]
!/solutions/konstantin.baryshev/lab?/*[.IPBYNB,.ipynb]
!/solutions/vladimir.belov/lab?/*[.IPBYNB,.ipynb]
!/solutions/konstantin.barinov/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexander.andreevskiy/lab?/*[.IPBYNB,.ipynb]
!/solutions/anastasia.belyaeva/lab?/*[.IPBYNB,.ipynb]
!/solutions/aydar.bulatov/lab?/*[.IPBYNB,.ipynb]
!/solutions/azalia.buryan/lab?/*[.IPBYNB,.ipynb]
!/solutions/andrey.blednykh/lab?/*[.IPBYNB,.ipynb]
!/solutions/mikhail.byvshikh/lab?/*[.IPBYNB,.ipynb]
!/solutions/maria.godgildieva/lab?/*[.IPBYNB,.ipynb]
!/solutions/vladimir.vlasov/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexey.gurov/lab?/*[.IPBYNB,.ipynb]
!/solutions/pavel.golovnyak/lab?/*[.IPBYNB,.ipynb]
!/solutions/dmitry.glushakov/lab?/*[.IPBYNB,.ipynb]
!/solutions/tatiana.dvoryaninova/lab?/*[.IPBYNB,.ipynb]
!/solutions/nazim.dzhavadov/lab?/*[.IPBYNB,.ipynb]
!/solutions/dmitry.varyukhin/lab?/*[.IPBYNB,.ipynb]
!/solutions/ksenia.gubina/lab?/*[.IPBYNB,.ipynb]
!/solutions/ochir.dorzhiev/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexandra.zaytseva/lab?/*[.IPBYNB,.ipynb]
!/solutions/dmitry.zverkov/lab?/*[.IPBYNB,.ipynb]
!/solutions/abdurakhim.ganiev/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexander.klyasov/lab?/*[.IPBYNB,.ipynb]
!/solutions/andrey.karavaev/lab?/*[.IPBYNB,.ipynb]
!/solutions/mikhail.mamaev/lab?/*[.IPBYNB,.ipynb]
!/solutions/elena.kutemova/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexey.kalaburdin/lab?/*[.IPBYNB,.ipynb]
!/solutions/ilya.karpenko/lab?/*[.IPBYNB,.ipynb]
!/solutions/ekaterina.medvedeva/lab?/*[.IPBYNB,.ipynb]
!/solutions/roman.matiiv/lab?/*[.IPBYNB,.ipynb]
!/solutions/timur.moskov/lab?/*[.IPBYNB,.ipynb]
!/solutions/ksenia.kutsevol/lab?/*[.IPBYNB,.ipynb]
!/solutions/grigory.mysov/lab?/*[.IPBYNB,.ipynb]
!/solutions/ramil.mamedov/lab?/*[.IPBYNB,.ipynb]
!/solutions/denis.noritsin/lab?/*[.IPBYNB,.ipynb]
!/solutions/evgeniy.osipchuk/lab?/*[.IPBYNB,.ipynb]
!/solutions/ilya.nabatchikov/lab?/*[.IPBYNB,.ipynb]
!/solutions/nikita.mospan/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexey.muratov/lab?/*[.IPBYNB,.ipynb]
!/solutions/konstantin.matveev/lab?/*[.IPBYNB,.ipynb]
!/solutions/svetlana.potapova/lab?/*[.IPBYNB,.ipynb]
!/solutions/nikita.rysin/lab?/*[.IPBYNB,.ipynb]
!/solutions/vladislav.rozhdestvenskiy/lab?/*[.IPBYNB,.ipynb]
!/solutions/denis.sabanov/lab?/*[.IPBYNB,.ipynb]
!/solutions/ivan.pankov/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexander.okhilkov/lab?/*[.IPBYNB,.ipynb]
!/solutions/sergey.polyakhov/lab?/*[.IPBYNB,.ipynb]
!/solutions/evgeniy.samarin/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexander.sedykh/lab?/*[.IPBYNB,.ipynb]
!/solutions/valeria.paramonova/lab?/*[.IPBYNB,.ipynb]
!/solutions/farhad.sabilov/lab?/*[.IPBYNB,.ipynb]
!/solutions/anton.serkov/lab?/*[.IPBYNB,.ipynb]
!/solutions/pavel.treboganov/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexander.smetanin/lab?/*[.IPBYNB,.ipynb]
!/solutions/andrey.smirnov/lab?/*[.IPBYNB,.ipynb]
!/solutions/yulia.semenovykh/lab?/*[.IPBYNB,.ipynb]
!/solutions/maxim.udachin/lab?/*[.IPBYNB,.ipynb]
!/solutions/nikita.sidorov/lab?/*[.IPBYNB,.ipynb]
!/solutions/dmitry.ulogov/lab?/*[.IPBYNB,.ipynb]
!/solutions/sergey.taran/lab?/*[.IPBYNB,.ipynb]
!/solutions/ivan.strazov/lab?/*[.IPBYNB,.ipynb]
!/solutions/andrey.frolov/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexey.chernyaev/lab?/*[.IPBYNB,.ipynb]
!/solutions/vladimir.khrenov/lab?/*[.IPBYNB,.ipynb]
!/solutions/lyudmila.cheldieva/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexey.shaymanov/lab?/*[.IPBYNB,.ipynb]
!/solutions/ekaterina.khabarova/lab?/*[.IPBYNB,.ipynb]
!/solutions/azat.khasanov/lab?/*[.IPBYNB,.ipynb]
!/solutions/denis.shilov/lab?/*[.IPBYNB,.ipynb]
!/solutions/pavel.khlopotin/lab?/*[.IPBYNB,.ipynb]
!/solutions/filipp.isaenko/lab?/*[.IPBYNB,.ipynb]
!/solutions/pavel.skladnev/lab?/*[.IPBYNB,.ipynb]
!/solutions/evgeniy.chervyakov/lab?/*[.IPBYNB,.ipynb]
!/solutions/vitaly.monastyrev/lab?/*[.IPBYNB,.ipynb]
!/solutions/andrey.kachetov/lab?/*[.IPBYNB,.ipynb]
!/solutions/zarina.kamytbaeva/lab?/*[.IPBYNB,.ipynb]
!/solutions/mikhail.novikov/lab?/*[.IPBYNB,.ipynb]
!/solutions/yakov.zakharov/lab?/*[.IPBYNB,.ipynb]
!/solutions/olga.ilyasova/lab?/*[.IPBYNB,.ipynb]
!/solutions/denis.ivashchenko/lab?/*[.IPBYNB,.ipynb]
!/solutions/irina.zhuravleva/lab?/*[.IPBYNB,.ipynb]
!/solutions/tatiana.inkhireeva/lab?/*[.IPBYNB,.ipynb]
!/solutions/ilya.efimov/lab?/*[.IPBYNB,.ipynb]
!/solutions/daria.ivanova/lab?/*[.IPBYNB,.ipynb]
!/solutions/vardan.kazaryan/lab?/*[.IPBYNB,.ipynb]
!/solutions/nikolay.krupiy/lab?/*[.IPBYNB,.ipynb]
!/solutions/alexander.kuznetsov/lab?/*[.IPBYNB,.ipynb]
!/solutions/roman.kovalchuk/lab?/*[.IPBYNB,.ipynb]
